@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
$body-font-family: 'Inter';

$btn-text-transform: none;

// COLORS
$colorDarkBg: #191b1f;
$colorLightBlue: #5090ea;
$colorBlue: #2172e5;
$colorDarkBlue: #153d6f70;
$colorGrey1: #2c2f36;
$colorGrey2: #40444f;
$colorLightGrey1: #c3c5cb;